{% extends "base.html" %} {% block title %}Stark Puzzles - Add post{% endblock
%} {% block content %}
<header>
  <h1>Stark Puzzles</h1>
</header>
<div class="main-container">
  <div class="main-subcontainer">
    <form action="#" method="POST">
      <div class="difficulty">
        <h2>Difficulty</h2>
        <input id="difficulty-1" type="radio" name="difficulty" value="1" {% if
        data.get('difficulty') == '1' %}checked{% endif %}/>
        <label for="difficulty-1">1</label>
        <input id="difficulty-2" type="radio" name="difficulty" value="2" {% if
        data.get('difficulty') == '2' %}checked{% endif %}/>
        <label for="difficulty-2">2</label>
        <input id="difficulty-3" type="radio" name="difficulty" value="3" {% if
        data.get('difficulty') == '3' %}checked{% endif %}/>
        <label for="difficulty-3">3</label>
        <input id="difficulty-4" type="radio" name="difficulty" value="4" {% if
        data.get('difficulty') == '4' %}checked{% endif %}/>
        <label for="difficulty-4">4</label>
        <input id="difficulty-5" type="radio" name="difficulty" value="5" {% if
        data.get('difficulty') == '5' %}checked{% endif %}/>
        <label for="difficulty-5">5</label>
      </div>

      <div class="variant">
        <h2>Variant</h2>
        <input id="variant-yes" type="radio" name="variant" value="yes" {% if
        data.get('variant') == 'yes' %}checked{% endif %} />
        <label for="variant-yes">Yes</label>
        <input id="variant-no" type="radio" name="variant" value="no" {% if
        data.get('variant') == 'no' %}checked{% endif %} />
        <label for="variant-no">No</label>
      </div>

      <div class="genre">
        <h2>Genre</h2>
        <p>In case of a hybrid (multiple genres), separate genres by comma.</p>
        <input
          id="genre"
          type="text"
          name="genre"
          size="100"
          placeholder="Genre.."
          value="{{ data.get('genre', '') }}"
        />
      </div>

      <div class="tags">
        <h2>Tags</h2>
        <input id="drawing" type="checkbox" name="drawing" {% if 'drawing' in
        data.get('tags', []) %}checked{% endif %} />
        <label for="drawing">Drawing</label>
        <input id="hybrid" type="checkbox" name="hybrid" {% if 'hybrid' in
        data.get('tags', []) %}checked{% endif %} />
        <label for="hybrid">Hybrid</label>
        <input id="loop" type="checkbox" name="loop" {% if 'loop' in
        data.get('tags', []) %}checked{% endif %} />
        <label for="loop">Loop</label>
        <input id="number-placement" type="checkbox" name="number-placement" {%
        if 'number-placement' in data.get('tags', []) %}checked{% endif %} />
        <label for="number-placement">Number placement</label>
        <input id="object-placement" type="checkbox" name="object-placement" {%
        if 'object-placement' in data.get('tags', []) %}checked{% endif %} />
        <label for="object-placement">Object placement</label>
        <input id="pack" type="checkbox" name="pack" {% if 'pack' in
        data.get('tags', []) %}checked{% endif %} />
        <label for="pack">Pack</label>
        <input id="path" type="checkbox" name="path" {% if 'path' in
        data.get('tags', []) %}checked{% endif %} />
        <label for="path">Path</label>
        <input id="region-division" type="checkbox" name="region-division" {% if
        'region-division' in data.get('tags', []) %}checked{% endif %} />
        <label for="region-division">Region division</label>
        <input id="shading" type="checkbox" name="shading" {% if 'shading' in
        data.get('tags', []) %}checked{% endif %} />
        <label for="shading">Shading</label>
      </div>

      <div class="title">
        <h2>Title</h2>
        <input
          id="title"
          type="text"
          size="100"
          name="title"
          placeholder="Title.."
          value="{{ data.get('title', '') }}"
        />
      </div>

      <div class="intro">
        <h2>Intro</h2>
        <textarea
          name="intro"
          id="intro"
          rows="7"
          cols="130"
          placeholder="Intro.."
        >
{{ data.get('intro', '') }}</textarea
        >
      </div>

      <div class="rules">
        <h2>Rules</h2>
        <textarea
          name="rules"
          id="rules"
          rows="7"
          cols="130"
          placeholder="Rules.."
        >
{{ data.get('rules', '') }}</textarea
        >
      </div>
      <div class="links">
        <h2>Links</h2>
        <input
          id="puzz.link"
          type="text"
          name="puzz.link"
          placeholder="puzz.link.."
          value="{{ data['links'].get('puzz.link', '') if 'links' in data else '' }}"
        />
        <input
          id="sudokupad"
          type="text"
          name="sudokupad"
          placeholder="sudokupad.."
          value="{{ data['links'].get('sudokupad', '') if 'links' in data else '' }}"
        />
        <input
          id="penpa"
          type="text"
          name="penpa"
          placeholder="penpa.."
          value="{{ data['links'].get('penpa', '') if 'links' in data else '' }}"
        />
      </div>

      <button type="submit">Submit</button>
      <!-- <a href="/preview" target="_blank">preview</a> -->
    </form>
  </div>
</div>

<!-- Scripts -->
<script src="scripts/create-post.js"></script>

{% endblock %}
